body {
    font-family: "Oswald", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 29px 80px;
    gap: 30px;
}

.logo {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.header__navigation {
    display: flex;
    gap: 46px;
    padding: 8px 57px 9px 648px;  
}

.header__navigation-option {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
}

.background-image {
    background-image: url('https://s3-alpha-sig.figma.com/img/3749/67de/e55c831f25545d8abd0c41d1dc82a176?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=mQctJTOrQnW1X366IzjVM33hL7aPECmO2JhCBZkBzu1kGifSlloxENy44AyatrZGfJ-HU2gghnlzq2AaLcZBAXSMi2bcxaF2ow1Fog3IvHc5DrRX51DKCRMVwJ1DvUECEgwg~pJLg5eAetJMCxmpJUJE771dJQSCDQA7tFy1-sMQyc5ASw3DCVt9ScO1ltnWD3dNQE~UJTMKD2dNQNynpX3gL3IbCDmYSscForGYafjmPcaABc62AQU8y9osb194fcN31Lnar-A-5WlBtCNhtffmJzhOYJgxIIVOm-8vRKthwrI-CugLIK0lQ2POkS8M7dryET5OU90OO6Ye-KbqrA__');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.background-image__text {
    font-size: 5vw;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 20vw 1vh 0vw;
    margin: 0;
}

.background-image__rectangle {
    height: 1vh;
    width: 8vw;
    background-color: #817070;
    justify-self: center;
}

.title {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    justify-self: center;
    padding: 18px 675px 60px 674px;
}

.description {
    display: flex;
    justify-content: center;
}

.description__image {
    justify-content: space-between;
    width: 600px;
    height: 400px;
    top: 173px;
    left: 80px;
    padding: 0px 40px 59px 80px;
}

.description__text {
    font-size: 20px;
    font-weight: 300;
    padding: 50px;
}

.cards {
    background-color: #EFEFEF;

}

.cards__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 58px 65px 57px;
}

.cards__card {
    background-color: #FFFFFF;
    padding: 20px 20px 46px 20px;
    margin: 0px 35px 0px 35px;
    justify-items: center;
}

.cards__title {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.cards__image {
    width: 325px;
    height: 216px;
}

.cards__text {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.subscribe-block {
    background-color:#817070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.subscribe-block__title {
    padding: 15px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
}

.subscribe-block__email-input {
    font-size: 20px;
    font-weight: 300;
    margin: 1vw 67vh;
    padding: 20px;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    
    text-align: center;
}

.subscribe-block__button {
    font-size: 20px;
    font-weight: 500;
    color: #817070;
    margin: 1vw 67vh;
    border: 3px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.footer {
    font-size: 20px;
    font-weight: 300;
    padding: 14px;
    background-color: #FFFFFF;
    justify-self: center;
}

@media screen and (max-width: 1300px){
    .cards_group {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 1200px){
    .description {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .des {
        text-align: center;
    }
}